name: eBanking CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    paths:
      - 'src/**'
  workflow_dispatch:
  schedule:
    - cron: '30 6 * * 6,0'

permissions:
  contents: write
  pages: write

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Install Chrome
      uses: browser-actions/setup-chrome@latest
   
    - name: Verify ChromeDriver
      run: chrome --version && chromedriver --version

    - name: Run Selenium BDD Tests with Maven
      run: mvn -B clean test -U

    - name: Upload Cucumber Report
      if: success() || failure()
      uses: PavanMudigonda/html-reporter-github-pages@v1.2
      with:
        name: Cucumber-Report
        test_results: target/cucumber-reports
        gh_pages: gh-pages 
        tool_name: cucumber 
        workflow_name: selenium 
        

   
     
